.nav-mine {
    padding-left: 30%;
}

main {margin-left: 15%;
margin-right: 15%;
background-color:azure ;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;}


#chair {width: 49%;
 
}
 #van {width: 49%;
height: 60%;


}
/* .hamal{ margin-left: 10%;
    font-size: 222%;
} */
.home, .about, .contacts, .service {
    font-size: 150%;
    margin-left: 20%;
    white-space: nowrap;
    font-weight: 600;

}


#aboutUs,  #whatWeDo, #welcome, #contacts {padding-top: 5%;
padding-bottom: 5%;}

#copy {margin-left:45%;
margin-top: 1%;}


#name, #number, #textarea {width: 35%;
padding-bottom: 2%;}

#textarea{margin-left: 0.5%;}

#numbertop{float: right;}